.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 10px;
}

.cartItemDate {
  display: flex;
  flex-direction: column;
}

.cancelBtn {
  background: none;
  border-radius: 5px;
  width: 64px;
  height: 28px;
  padding: 5px;
  border: 1px solid #2563eb;
  color: #2563eb;
  cursor: pointer;
}
.cartItemDateItem {
  color: grey;
}

.cartItemEndLoc {
  font-size: 24px;
  font-weight: 600;
  color: #334155;
}

@media screen and (max-width: 576px) {
  .cartItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
  }
  .cartItemDate {
    margin-top: -20px;
  }
  .fromAndToDate {
    margin-top: -4px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .cartItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
